body {
    background: rgb(66, 64, 65);
    background: linear-gradient(90deg, rgb(66, 64, 65)0%, rgb(66, 64, 65) 100%, rgba(37,73,96,1) 100%);
}

#portfolio{
    background:  rgb(6, 113, 102);
}
.home h1{
    color: rgb(247, 232, 232);
}
.home p{
    color: rgb(225, 208, 208);
}
.left-arrow:hover{
    background:rgb(6, 113, 102);
}

.right-arrow:hover{
    background:rgb(6, 113, 102);
}
.home form {
    background: #FFFFFF; 
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 50%;
    max-width: 50em;
    max-height: 40em;
    height: 60%;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.home form input, 
.home form textarea {
    background: #f2f2f2;
    width: 80%;
    transition: all .5s ease-in-out;
    outline: 0; 
    border: none; 
    box-sizing: border-box;
    overflow: auto;
    resize: none;
    font-family: "Roboto";
    font-size: 1em;
    margin-bottom: 1em;
    padding: .7em;
}
.home form textarea{
    height: 20%;
}

#submit {
    text-transform: uppercase;
    background: rgb(231, 225, 225);
    width: 50%;
    height: 3em;
}

#submit:hover{
    cursor: pointer;
    background:rgb(210, 199, 199)
}

.home form p{
    color: #333;
    font-size: .8em;
}

.home form input:focus, 
.home form textarea:focus{
    background: #d8d8d8;
}

footer{
    background: rgb(66, 64, 65);
}
