body {
    background: rgb(66, 64, 65);
    background: linear-gradient(90deg, rgb(66, 64, 65)0%, rgb(66, 64, 65) 100%, rgba(37,73,96,1) 100%);
}

.home {
    height: 50em;
}

.home h1{
    color: rgb(247, 232, 232);
    text-align: center;
    margin-top: 0%;

}


.home img {
    width: 10em; 
    height: 10em; 
    border-radius: 5em;
    position: relative; 
    transform: translate(-50%, 0);
    left: 50%;
    border: 3px solid #1d1d27;
    box-shadow: 12px 5px 15px -5px #333;
    left: 110px;
    margin-top: 5%;

   
    
}
#description{
    top: 5%;
    color: rgb(220, 211, 211);
    position: relative; 
    margin: 0; 
    transform: translate(-50%, 0);
    max-width: 50em;
    left: 50%;
    width: 50%;
    font-size: 1em;
    padding: 2em;
    font-style: normal;
    line-height: 1.5em;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.left-arrow:hover{
    background: rgb(6, 113, 102);
}



footer {
    background:rgb(66, 64, 65);
}